@model IEnumerable<ParentDTO>
@{
    ViewData["Title"] = "ParentList";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section BeginPage{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="card border-bottom-primary shadow">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">Veli İşlemleri</h5>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mt-3">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-9">
                <h5 class="m-0 font-weight-bold text-primary">Veli Listesi</h5>
            </div>
            <div class="col-3">
                @*<a class="btn btn-success" asp-action="ParentAdd">Yeni Kayıt <i class="fa fa-plus-circle"></i></a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Cinsiyeti</th>
                        <th>Cep Telefonu</th>
                        <th>İs Telefonu</th>
                        <th>Ev Telefonu</th>
                        <th>Adresi</th>
                        <th>Öğrenciler</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ParentDTO parent in Model)
                    {
                        <tr>
                            <td>@parent.FirstName</td>
                            <td>@parent.LastName</td>
                            <td>@parent.Gender</td>
                            <td>@parent.CellPhone</td>
                            <td>@parent.HomePhone</td>
                            <td>@parent.WorkPhone</td>
                            <td>@parent.Address</td>
                            <td>
                                <a class="btn btn-outline-primary btn-sm" href="#" onclick="modalFunction('@Url.Action("ParentsStudents", "Parent", new { parentId = parent.Id })')"><i class="fa fa-graduation-cap"></i></a>

                            </td>
                            <td>
                                <a class="btn btn-outline-info btn-sm" asp-controller="Message" asp-action="SendMessage" asp-route-receiver="@parent.User.UserName" asp-route-sender="@this.User.Identity.Name"><i class="fa fa-envelope"></i></a>
                                @* mailto:@parent.UserDTO.Email
                                    <a class="btn btn-outline-info btn-sm" href="#" onclick="modalFunction('@Url.Action("SendMessage", "Message", new {username = this.User.Identity, receiver = parent.User.Email })')">Mesaj Gönder<i class="fa fa-envelope"></i></a>*@
                                <a class="btn btn-outline-primary btn-sm" asp-action="ParentDetails" asp-route-id="@parent.Id"><i class="fa fa-search"></i></a>

                                @if (this.User.IsInRole("Admin"))
                                {
                                    @*<a class="btn btn-outline-primary btn-sm" href="#" onclick="modalFunction('@Url.Action("ParentDetails", "Parent", new { id = parent.Id })')"><i class="fa fa-search"></i></a>*@
                                    <a class="btn btn-outline-warning btn-sm" asp-action="ParentUpdate" asp-route-id="@parent.Id"><i class="fa fa-pen"></i></a>
                                    @*< a class="btn btn-outline-warning btn-sm" href="#" onclick="modalFunction('@Url.Action("ParentUpdate", "Parent", new { id = parent.Id })')"><i class="fa fa-pen"></i></a>*@

                                    @*<a class="btn btn-outline-danger btn-sm" asp-action="ParentDelete" asp-route-id="@parent.Id"><i class="fa fa-trash"></i></a>*@
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

@section FooterJsPlugin{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}

@section BeginPageJs{
    <script>
        function modalFunction(url) {
            $('#modalContent').load(url);
            $('#mainModal').modal('show');
        }
    </script>
}