@model StudentParentViewModel


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">İlgili Öğrenci Bilgileri </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<input type="hidden" asp-for="ParentDTO.Id" />

<div class="modal-body">
    @foreach (var student in Model.StudentDTOs)
    {
    <div class="card">

        <img class="card-img-top" src="..." alt="Öğrenci Resmi" />

        <div class="card-body">
            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label><strong>Okul Numarası : </strong></label>
                        </div>
                        <div class="col">
                            <label>@student.Id</label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label><strong>Öğrenci Adı : </strong></label>
                        </div>
                        <div class="col">
                            <label>@student.FirstName</label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label><strong>Öğrenci Soyadı : </strong></label>
                        </div>
                        <div class="col">
                            <label>@student.LastName</label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label><strong>Şubesi : </strong></label>
                        </div>
                        <div class="col">
                            <label>@Model.SectionDTOs.FirstOrDefault(z => z.Id == student.SectionId).SectionName</label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        @*<div class="card-footer float-right">
            <button type="submit" class="btn btn-primary" asp-controller="Student" asp-action="StudentList" asp-route-student="@Model.StudentDTO">Git</button>
        </div>*@
    </div>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
</div>