@model IEnumerable<SemesterDTO>
@{
    ViewData["Title"] = "SemesterList";
}

@section BeginPage{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<div class="row">
    @if (Model != null)
    {
        <div class="col col-12 col-xl-3">
            <div class="card mb-2 shadow">
                <div class="card-header">
                    <h5 class="font-weight-bold text-primary">Mevcut Dönem Bilgisi</h5>
                </div>
                <div class="card-body">
                    <p><b>Geçerli Dönem: </b>@Model.FirstOrDefault(z => z.SemesterBeginning < DateTime.Now && z.SemesterEnd > DateTime.Now).SemesterName</p>
                    <p><b>Başlangıç Tarihi: </b>@Model.FirstOrDefault(z => z.SemesterBeginning < DateTime.Now && z.SemesterEnd > DateTime.Now).SemesterBeginning.ToString("dd/MM/yyyy") </p>
                    <p><b>Bitiş Tarihi: </b>@Model.FirstOrDefault(z => z.SemesterBeginning < DateTime.Now && z.SemesterEnd > DateTime.Now).SemesterEnd.ToString("dd/MM/yyyy")  </p>
                    <p><b>Akademik Yıl :</b> @Model.FirstOrDefault(z => z.SemesterBeginning < DateTime.Now && z.SemesterEnd > DateTime.Now).AcademicYear</p>
                </div>
            </div>
        </div>
    }


    <!-- DataTables Example -->
    <div class="col col-12 col-xl-6">
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-9">
                        <h5 class="m-0 font-weight-bold text-primary">Dönem Listesi</h5>
                    </div>
                    <div class="col-3">
                        @*<a class="btn btn-success float-right" href="#" data-toggle="modal" data-target="semesterAddModal" id="addSemesterModalToggle">Yeni Kayıt <i class="fa fa-plus-circle"></i></a>*@
                        <a class="btn btn-success float-right" data-toggle="modal" data-target="mainModal" href="#" onclick="modalFunction('@Url.Action("SemesterAdd", "Semester", "SemesterDTO")')">Yeni Kayıt <i class="fa fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Dönem</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Akademik Yıl</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SemesterDTO semester in Model)
                            {
                                <tr>
                                    <td>@semester.SemesterName</td>
                                    <td>@semester.SemesterBeginning.ToString("dd/MM/yyy")</td>
                                    <td>@semester.SemesterEnd.ToString("dd/MM/yyy")</td>
                                    <td>@semester.AcademicYear</td>
                                    <td>
                                        @*<a class="btn btn-outline-warning btn-sm" data-semester-id="@semester.Id" id="updateSemesterModalToggle" data-toggle="modal" href="#"><i class="fa fa-pen"></i></a>*@
                                        <a class="btn btn-outline-warning btn-sm" href="#" onclick="modalFunction('@Url.Action("SemesterUpdate", "Semester", new { id = semester.Id })')"><i class="fa fa-pen"></i></a>
                                        <a class="btn btn-outline-danger btn-sm" asp-action="SemesterDelete" asp-route-id="@semester.Id"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>


@section FooterJsPlugin{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}

@section BeginPageJs{
    <script>

        function modalFunction(url) {
            $('#modalContent').load(url);
            $('#mainModal').modal('show');
        }
    </script>
}
@*@section BeginPageJS{
        <script>
            document.SemesterShared = document.SemesterShared || [];
            document.SemesterShared.SemesterUpdatePartialViewUrl = '@Url.Action("SemesterUpdate", "Semester", new { id = -1 })';
            document.SemesterShared.SemesterAddPartialViewUrl = '@Url.Action("SemesterAdd", "Semester","SemesterDTO")';
        </script>
        <script src="~/ViewScripts/Semester/SemesterList.js"></script>
    }*@