@model IEnumerable<AdminDTO>
@{
    ViewData["Title"] = "AdminList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section BeginPage{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800"></h1>

<div class="card shadow">
    <div class="card-header">
        <h4>Yönetici İşlemleri</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mt-3">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-9">
                <h5 class="m-0 font-weight-bold text-primary">Yönetici Listesi</h5>
            </div>
            <div class="col-3">
                <a class="btn btn-success" data-toggle="modal" data-target="mainModal" href="#" onclick="modalFunction('@Url.Action("AdminAdd", "Admin", "AdminDTO")')">Yeni Kayıt <i class="fa fa-plus-circle"></i></a>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Görevi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AdminDTO admin in Model)
                    {
                        <tr>
                            <td>@admin.FirstName</td>
                            <td>@admin.LastName</td>
                            <td>@admin.Duty</td>
                            <td>
                                <a class="btn btn-outline-primary btn-sm" href="#" onclick="modalFunction('@Url.Action("AdminDetails", "Admin", new { id = admin.Id })')"><i class="fa fa-search"></i></a>
                                <a class="btn btn-outline-warning btn-sm" href="#" onclick="modalFunction('@Url.Action("AdminUpdate", "Admin", new { id = admin.Id })')"><i class="fa fa-pen"></i></a>

                                <a class="btn btn-outline-danger btn-sm" asp-action="AdminDelete" asp-route-id="@admin.Id"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section FooterJsPlugin{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}