@model StudentDetailsViewModel


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Devamsızlık Bilgisi</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="AttendanceList" class="shadow-sm">

    <input type="hidden" asp-for="StudentDTO.Id" />
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput">Okul Numarası : </label>
                    <label for="formGroupExampleInput">Öğrenci Adı Soyadı : </label>
                    <label for="formGroupExampleInput">Devamsızlık Sayısı : </label>
                </div>
                <div class="col">
                    <p>@Model.StudentDTO.Id</p>
                    <p>@Model.StudentDTO.FirstName @Model.StudentDTO.LastName</p>
                    @if (Model.StudentDTO.Attendances == null)
                    {
                        <p>Devamsızlık Bilgisi Girilmedi</p>
                    }
                    else
                    {
                        <p>@Model.StudentDTO.Attendances.Count()</p>
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            @if (Model.StudentDTO.Attendances != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Devamsızlık Tarihi</th>
                            <th scope="col">Devamsızlık Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var attendance in Model.AttendanceDTOs)
                        {
                            <tr>
                                <td> @attendance.DateTime</td>
                                <td>@Model.AttendanceTypeDTOs.FirstOrDefault(z => z.Id == attendance.AttendanceTypeId).AttendanceTypeName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        @*<button type="submit" class="btn btn-primary">Kaydet</button>*@
    </div>

</form>