@model PostDTO

<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">@Model.PostCategory.CategoryName İçeriği</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<input type="hidden" asp-for="Id" />

<div class="modal-body">
    <div class="card" style="border-style:solid; border-color:lightgray; border-width:thin; padding:15px;">

        @if (Model.File != null)
        {
            if (Model.File.Contains(".pdf") || Model.File.Contains("txt") || Model.File.Contains(".doc") || Model.File.Contains(".docx"))
            {
                <a href="@Model.File"><i class="fa fa-file"></i> Dosyayı görüntüle</a>
            }
            else if (Model.File.Contains(".jpeg") || Model.File.Contains(".jpg") || Model.File.Contains(".gif") || Model.File.Contains(".png"))
            {
                <img class="card-img-top" src="@Model.File" alt="" />
            }
        }

        <div class="card-subtitle mt-2">
            <label><strong>@Model.PostName</strong></label>
        </div>

        <div class="card-body">
            <p>@Model.PostContent</p>
        </div>
        <div class="float-right">
            <label>@Model.User.UserName</label>
            <br />
            <label>@Model.PublishedDate.Date.ToString("dd/MM/yyy")</label>
        </div>
    </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
</div>