@model IEnumerable<TimetableViewDTO>

@{
    ViewData["Title"] = "LecturedClasses";
}

<div class="card shadow">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">Ders Verilen Sınıflar</h5>
    </div>
</div>

<div class="row">
    @foreach (TimetableViewDTO timetable in Model)
    {
        <div class="col-sm-6 col-xl-3 mt-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">@timetable.SectionName</h5>
                    <h5>@timetable.SubjectName</h5>

                    <a class="btn btn-outline-primary btn-sm" asp-controller="Instructor" asp-action="InstructorsStudents" asp-route-sectionName="@timetable.SectionName" asp-route-subjectName="@timetable.SubjectName">Öğrenci Listesi <i class="fa fa-graduation-cap"></i></a>

                    <a class="btn btn-outline-success btn-sm" asp-controller="Subject" asp-action="SubjectDetails" asp-route-subjectName="@timetable.SubjectName" asp-route-sectionName="@timetable.SectionName">Ders İşlemleri <i class="fa fa-book-open"></i></a>
                </div>
            </div>
        </div>
    }
</div>




