@model IEnumerable<TimetableViewDTO>

@{
    ViewData["Title"] = "LecturedClasses";
}

<div class="card shadow">
    <div class="card-header">
        <h4>Ders Verilen Sınıflar</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>

<div class="row">
    @foreach (TimetableViewDTO timetable in Model)
    {
        <div class="col-sm-6 col-xl-3 mt-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">@timetable.SectionName</h5>
                    <h5>@timetable.SubjectName</h5>
                    <a class="btn btn-outline-primary btn-sm" asp-controller="Instructor" asp-action="InstructorsStudents" asp-route-sectionName="@timetable.SectionName"><i class="fa fa-graduation-cap"></i> Öğrenci Listesi</a>
                    <a class="btn btn-outline-success btn-sm" asp-controller="Exam" asp-action="ExamList" asp-route-subjectName="@timetable.SubjectName"> Sınav İşlemleri</a>

                    <a class="btn btn-outline-success btn-sm" asp-controller="Subject" asp-action="SubjectDetails" asp-route-subjectName="@timetable.SubjectName"> Ders İşlemleri</a> 
                </div>
            </div>
        </div>
    }
</div>


@*
    @section BeginPage{
        <!-- Custom styles for this page -->
        <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    }
            <!-- DataTables Example -->
            <div class="card shadow mt-3 col-12 col-xl-7">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col">
                            <h5 class="m-0 font-weight-bold text-primary">Sınıf Listesi</h5>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Şube Adı</th>
                                    <th>Ders Adı</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TimetableViewDTO timetable in Model)
                                {
                                    <tr>
                                        <td>@timetable.SectionName</td>
                                        <td>@timetable.SubjectName</td>
                                        <td>
                                            <a class="btn btn-outline-primary btn-sm" asp-controller="Instructor" asp-action="InstructorsStudents" asp-route-sectionName="@timetable.SectionName">Öğrenci Ders Bilgileri</a>
                                            <a class="btn btn-outline-primary btn-sm" asp-controller="Student" asp-action="StudentList" asp-route-sectionName="@timetable.SectionName">Öğrenci Bilgileri</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        @section FooterJsPlugin{
            <!-- Page level plugins -->
            <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
            <!-- Page level custom scripts -->
            <script src="~/js/demo/datatables-demo.js"></script>
        }
*@


