@model TimetableViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow">
    <div class="card-header">
        <h4>Ders Programı Ekle</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>


<div class="card shadow mt-3">
    <div class="card-header">
        <h4 class="font-weight-bold text-primary">@*@Model.SectionDTO.SectionName*@ Şubesi Ders Programı</h4>
    </div>
    <div class="card-body">
        <form asp-action="TimetableAdd">
            <div class="form-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            @*Ders Saatleri*@

                            <th>#</th>
                            @foreach (LessonTimeDTO timeDTO in Model.LessonTimeDTOs)
                            {

                                <th scope="col">
                                    @timeDTO.LessonBeginTime - @timeDTO.LessonEndTime
                                </th>

                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (DayDTO day in Model.DayDTOs)
                        {
                            <tr>
                                <th scope="row">@day.DayName</th>

                                @for (int i = 0; i < 7; i++)
                                {
                            <td>
                                <div class="form-group">
                                    <label>Ders :</label>
                                    <select class="form-control" asp-for="TimeTableDTO.SubjectId" asp-items="@(new SelectList(Model.SubjectDTOs, "Id","SubjectName"))"></select>
                                </div>
                                <div class="form-group">
                                    <label>Öğretmen :</label>
                                    <select class="form-control" asp-for="TimeTableDTO.InstructorId" asp-items="@(new SelectList(Model.InstructorDTOs, "Id","FirstName + ' ' + LastName"))"></select>
                                </div>
                            </td>
                                }
                            </tr>
                        }



                    </tbody>
                </table>
                <div class="form-actions float-right">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <button type="button" class="btn btn-secondary">İptal Et</button>
                </div>
            </div>
        </form>
    </div>
</div>
