@model TimetableViewModel

<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Yeni Ders Ekle </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="TimetableAdd" class="shadow-sm">
    <div class="modal-body">
        @if (Model.SectionDTO != null && Model.LessonTimeDTO != null && Model.DayDTO != null)
        {
            <input type="hidden" asp-for="SectionDTO.Id" />
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="formGroupExampleInput2">Şube : </label>
                        <input class="form-control" readonly placeholder="@Model.TimetableViewDTO.SectionName" asp-for="TimetableViewDTO.SectionName">
                    </div>
                    <div class="col">
                        <label for="formGroupExampleInput2">Gün : </label>
                        <input class="form-control" readonly placeholder="@Model.TimetableViewDTO.DayName" asp-for="TimetableViewDTO.DayName">
                    </div>
                    <div class="col">
                        <label for="formGroupExampleInput2">Ders Saati : </label>
                        <input class="form-control" readonly placeholder="@Model.TimetableViewDTO.LessonPeriod" asp-for="TimetableViewDTO.LessonPeriod">
                    </div>
                </div>
            </div>
        }
        else if (Model.SectionDTO != null)
        {
            <input type="hidden" asp-for="SectionDTO.Id" />

            <div class="form-group">
                <label for="formGroupExampleInput2">Şube</label>
                <input class="form-control" readonly asp-for="TimetableViewDTO.SectionName">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Gün</label>
                <select class="form-control" asp-for="TimetableViewDTO.DayName" asp-items="@(new SelectList(Model.DayDTOs, "Id", "DayName"))"></select>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Ders Saati</label>
                <select class="form-control" asp-for="TimetableViewDTO.LessonPeriod" asp-items="@(new SelectList(Model.LessonTimeDTOs, "Id", "LessonPeriod"))"></select>
            </div>
        }
        else if (Model.SectionDTOs != null)
        {
            <div class="form-group">
                <label for="formGroupExampleInput2">Şube</label>
                <select class="form-control" asp-for="TimetableViewDTO.SectionName" asp-items="@(new SelectList(Model.SectionDTOs, "Id", "SectionName"))"></select>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Gün</label>
                <select class="form-control" asp-for="TimetableViewDTO.DayName" asp-items="@(new SelectList(Model.DayDTOs, "Id", "DayName"))"></select>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Ders Saati</label>
                <select class="form-control" asp-for="TimetableViewDTO.LessonPeriod" asp-items="@(new SelectList(Model.LessonTimeDTOs, "Id", "LessonPeriod"))"></select>
            </div>
        }
        <div class="form-group">
            <label for="formGroupExampleInput">Derslik</label>
            <select class="form-control" asp-for="TimetableViewDTO.ClassroomName" asp-items="@(new SelectList(Model.ClassroomDTOs, "Id", "ClassroomName"))"></select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Ders</label>
            <select class="form-control" asp-for="TimetableViewDTO.SubjectName" asp-items="@(new SelectList(Model.SubjectDTOs, "Id", "SubjectName"))"></select>
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Öğretmen</label>
            <select class="form-control" asp-for="TimetableViewDTO.Instructor" asp-items="@(new SelectList(Model.InstructorDTOs, "Id", "FullNameBranch"))"></select>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

</form>


