@model TimetableViewModel

@{
    ViewData["Title"] = "ListTimetable";
}

@section BeginPage{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="card border-bottom-primary shadow">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">Ders Programı</h5>
    </div>
</div>


<input type="hidden" asp-for="SectionDTO.Id" />

<div class="row">
    <div class="col col-12 col-xl-9">

        <div class="card shadow mt-3">
            <div class="card-header py-3">
                <div class="row">

                    @if (this.User.IsInRole("Admin") && Model.SectionDTO != null)
                    {
                        <div class="col col-12 col-xl-7">
                            <h5 class="m-0 font-weight-bold text-primary">@Model.SectionDTO.SectionName Şubesi Ders Programı Listesi </h5>
                        </div>
                        <div class="col col-12 col-xl-5">
                            <a class="btn btn-outline-info float-right ml-2" asp-controller="Timetable" asp-action="TimetableDesign" asp-route-sectionId="@Model.SectionDTO.Id"><i class="fa fa-table"></i> Tablo Görünümü</a>

                            <a class="btn btn-success float-right" href="#" data-toggle="modal" data-target="mainModal" onclick="modalFunction('@Url.Action("TimetableAdd", "Timetable", new {sectionId = Model.SectionDTO.Id })')">Yeni Kayıt <i class="fa fa-plus-circle"></i></a>
                        </div>
                    }
                    else if (this.User.IsInRole("Öğretmen") && Model.InstructorDTO != null)
                    {
                        <div class="col col-12 col-xl-7">
                            <h5 class="m-0 font-weight-bold text-primary float-right">@Model.InstructorDTO.FullName Ders Programı </h5>
                        </div>
                        <div class="col col-12 col-xl-5">
                            <a class="btn btn-outline-info float-right" asp-controller="Timetable" asp-action="TimetableDesign" asp-route-instructorId="@Model.InstructorDTO.Id"><i class="fa fa-table"></i> Tablo Görünümü</a>
                        </div>
                    }
                    else
                    {
                        <div class="col col-12">
                            <h5 class="m-0 font-weight-bold text-primary">Ders Programı Listesi</h5>
                        </div>
                    }
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Derslik</th>
                                <th>Ders</th>
                                <th>Şube</th>
                                <th>Öğretmen</th>
                                <th>Ders Saati</th>
                                <th>Gün</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tt in Model.TimetableViewDTOs)
                            {
                                <tr>
                                    <td>@tt.ClassroomName </td>
                                    <td>@tt.SubjectName</td>
                                    <td>@tt.SectionName</td>
                                    <td>@tt.Instructor</td>
                                    <td>@tt.LessonPeriod </td>
                                    <td>@tt.DayName</td>
                                    <td>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <a class="btn btn-outline-warning btn-sm" href="#" onclick="modalFunction('@Url.Action("TimetableUpdate", "Timetable", new { ttId = tt.Id })')"><i class="fa fa-pen"></i></a>
                                            <a class="btn btn-outline-danger btn-sm" asp-action="TimetableDelete" asp-route-id="@tt.Id"><i class="fa fa-trash"></i></a>
                                        }
                                        else if (this.User.IsInRole("Öğretmen"))
                                        {
                                            @*<a class="btn btn-outline-success btn-sm" href="#" onclick="modalFunction('@Url.Action("ExamAdd", "Exam", new { subjectName = tt.SubjectName })')"><i class="fa fa-plus-circle"></i> Sınav Ekle</a>*@
                                            @*<a class="btn btn-outline-primary btn-sm" href="#" onclick="modalFunction('@Url.Action("ExamList", "Exam", new { subjectName = tt.SubjectName })')"><i class="fa fa-search"></i> Sınav Listesi</a>*@
                                            <a class="btn btn-outline-primary btn-sm" asp-controller="Exam" asp-action="ExamList" asp-route-subjectName="@tt.SubjectName"><i class="fa fa-search"></i> Sınav Listesi</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

@section FooterJsPlugin{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}

@section BeginPageJs{
    <script>
        function modalFunction(url) {
            $('#modalContent').load(url);
            $('#mainModal').modal('show');
        }
    </script>
}
