@model TimetableViewModel
@{
    ViewData["Title"] = "TimetableIndex";
}

<div class="card shadow">
    <div class="card-header">
        <h4>Ders Programı</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>

@foreach (var grade in Model.GradeDTOs)
{

    <div class="card mt-2">
        <div class="card-body">
            <h4>@grade.GradeName</h4>

            <div class="row">
                @foreach (var sectionDto in Model.SectionDTOs)
                {
                    if (sectionDto.GradeId == grade.Id)
                    {
                        <div class="col-sm-6 col-xl-3 mt-3">
                            <div class="card shadow ">
                                <div class="card-body">
                                    <h5 class="card-title">@sectionDto.SectionName</h5>
                                    <p class="card-text"></p>

                                    <a class="btn btn-outline-info btn-sm" asp-controller="Timetable" asp-action="TimetableDesign" asp-route-sectionId="@sectionDto.Id"><i class="fa fa-table"></i> Ders Programı</a>
                                    <a class="btn btn-outline-secondary btn-sm" asp-controller="Timetable" asp-action="TimetableList" asp-route-sectionId="@sectionDto.Id">Ders Listesi</a>
                                    <a class="btn btn-outline-primary btn-sm" asp-controller="Student" asp-action="StudentList" asp-route-sectionId="@sectionDto.Id"><i class="fa fa-graduation-cap"></i> Öğrenciler</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
