@model StudentDetailsViewModel
@{
    ViewData["Title"] = "StudentExamResults";
}

@section BeginPage{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="card shadow-sm mt-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item ">
                <a class="nav-link " asp-controller="Student" asp-action="StudentAcademicInfo" asp-route-studentId=" @Model.StudentDTO.Id"> Akademik Bilgi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Certificate" asp-action="CertificateList" asp-route-studentId=" @Model.StudentDTO.Id">Belge Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Student" asp-action="StudentExamResults" asp-route-studentId=" @Model.StudentDTO.Id"> Not Bilgisi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Attendance" asp-action="AttendanceList" asp-route-studentId=" @Model.StudentDTO.Id"> Devamsızlık Bilgisi</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="card-title py-3">
            <div class="row">
                <div class="col col-12 col-md-5 p-1">
                    <h5 class="m-0 font-weight-bold text-primary">@Model.StudentDTO.FirstName @Model.StudentDTO.LastName Not Listesi </h5>
                </div>
                <div class="col col-12 col-md-3 p-1">
                    @if (Model.SemesterDTO != null)
                    {
                        <h5 class="m-0 font-weight-bold text-primary"> @Model.SemesterDTO.SemesterName - @Model.SemesterDTO.AcademicYear Sınav Sonuçları</h5>
                    }
                </div>

                <div class="col col-12 col-md-2 p-1">
                    <div class="dropdown float-right">
                        <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dönem Listesi
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @if (Model.SemesterDTOs.Count != 0)
                            {
                                foreach (var semester in Model.SemesterDTOs)
                                {
                                    <a class="dropdown-item" asp-action="StudentExamResults" asp-route-semesterId="@semester.Id" asp-route-studentId="@Model.StudentDTO.Id">@semester.SemesterName @semester.AcademicYear</a>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-2 p-1">
                    @if (this.User.IsInRole("Admin"))
                    {
                        @*<a class="btn btn-success float-right" href="#" onclick="xlModalFunction('@Url.Action("CreateSchoolReport", "Student", new { studentId = Model.StudentDTO.Id })')">Karne Oluştur <i class="fa fa-plus-circle"></i></a>*@

                        <a class="btn btn-outline-success btn-sm float-right" asp-controller="Student" asp-action="CreateSchoolReport" asp-route-studentId="@Model.StudentDTO.Id">Karne Oluştur <i class="fa fa-plus-circle"></i></a>
                    }
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sınav</th>
                        <th>Sınav Sonucu</th>
                        <th>Not Durumu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ExamResultDTO examResult in Model.ExamResultDTOs)
                    {
                        <tr>
                            <td>@examResult.Exam.ExamName</td>
                            <td>@examResult.ExamMark</td>
                            <td>@examResult.StudentStatus</td>
                            <td>
                                @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Öğretmen") && ViewBag.InstructorId == examResult.CreatedBy))
                                {

                                    <a class="btn btn-outline-warning btn-sm" href="#" onclick="modalFunction('@Url.Action("ExamResultUpdate", "ExamResult", new { examResultId = examResult.Id})')"><i class="fa fa-pen"></i></a>
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-outline-danger btn-sm" asp-action="ExamResultDelete" asp-controller="ExamResult" asp-route-examResultId="@examResult.Id"><i class="fa fa-trash"></i></a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>


@*<div class="modal-dialog modal-xl" id="myModal"  role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="myModalContent">

            </div>
        </div>
    </div>*@


@section FooterJsPlugin{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}

@section BeginPageJs{
    <script>
        function modalFunction(url) {
            $('#modalContent').load(url);
            $('#mainModal').modal('show');
        }

        function xlModalFunction(url) {
            $('#myModalContent').load(url);
            $('#myModal').modal('show');
        }
    </script>
}
