@model StudentDetailsViewModel
@{
    ViewData["Title"] = "StudentList";
    // Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section BeginPage{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="card border-bottom-primary shadow">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">Öğrenci İşlemleri</h5>
    </div>

</div>

<!-- DataTales Example -->
<div class="card shadow mt-3">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-9">
                <h5 class="m-0 font-weight-bold text-primary">@ViewBag.gradeName @ViewBag.sectionName @ViewBag.certificateTypeName Öğrenci Listesi</h5>
            </div>
            <div class="col">
                <div class="dropdown float-right">
                    @if (ViewBag.studentStatus != "Mezun" || ViewBag.studentStatus != "Sevk")
                    {
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Öğrenci Listeleri
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="StudentList" asp-route-certificateTypeName="Takdir" asp-route-sectionName="@ViewBag.sectionName" asp-route-gradeId="@ViewBag.gradeId">Takdir Belgesi Alanlar</a>
                            <a class="dropdown-item" asp-action="StudentList" asp-route-certificateTypeName="Teşekkür" asp-route-sectionName="@ViewBag.sectionName" asp-route-gradeId="@ViewBag.gradeId">Teşekkür Belgesi Alanlar</a>
                            <a class="dropdown-item" asp-action="StudentList" asp-route-certificateTypeName="Onur" asp-route-sectionName="@ViewBag.sectionName" asp-route-gradeId="@ViewBag.gradeId">Onur Belgesi Alanlar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Okul Numarası</th>
                        <th>Sınıf</th>
                        <th>Şube</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Cinsiyet</th>
                        <th>Devam Durumu</th>
                        <th>Akademik Bilgi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (StudentDTO student in Model.StudentDTOs)
                    {
                        <tr>
                            <td>@student.SchoolNumber</td>
                            <td>@student.Section.SectionName</td>
                            <td>@student.Section.Grade.GradeName</td>
                            <td>@student.FirstName</td>
                            <td>@student.LastName</td>
                            <td>@student.Gender</td>
                            <td>@student.StudentStatus</td>
                            <td><a class="btn btn-outline-info btn-sm" asp-controller="Student" asp-action="StudentAcademicInfo" asp-route-studentId="@student.Id"> Akademik Bilgi</a></td>
                            <td>
                                <a class="btn btn-outline-info btn-sm" asp-controller="Message" asp-action="SendMessage" asp-route-receiver="@student.User.UserName" asp-route-sender="@this.User.Identity.Name"><i class="fa fa-envelope"></i></a>
                                <a class="btn btn-outline-primary btn-sm" asp-action="StudentDetails" asp-route-studentId="@student.Id"><i class="fa fa-search"></i></a>

                                @if (this.User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-outline-warning btn-sm" asp-action="StudentUpdate" asp-route-id="@student.Id"><i class="fa fa-pen"></i></a>
                                    @*<a class="btn btn-outline-danger btn-sm" asp-action="StudentDelete" asp-route-id="@student.Id"><i class="fa fa-trash"></i></a>*@
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

@section FooterJsPlugin{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}
@section BeginPageJs{
    <script>
        function createModal(url) {
            $('#modalContent').load(url);
            $('#mainModal').modal('show');
        }
    </script>
}