@model StudentDTO
@*StudentParentViewModel*@
@{
    ViewData["Title"] = "StudentDetails";
    // Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card border-bottom-primary shadow">
    <div class="card-header">
        @if (Model.SectionId == null)
        {
            <h5 class="m-0 font-weight-bold text-primary">Ön Kayıt Detay</h5>
        }
        else
        {
            <h5 class="m-0 font-weight-bold text-primary">Öğrenci Detay</h5>
        }
    </div>
</div>


<div class="card shadow mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="font-weight-bold text-primary">Öğrenci Bilgisi</h5>
            </div>
            <div class="col">
                <div class="row float-right">
                    <div class="form-actions">
                        @if (this.User.IsInRole("Admin"))
                        {
                            @*<a class="btn btn-outline-warning btn-sm" href="#" data-toggle="modal" data-target="mainModal" onclick="createModal('@Url.Action("StudentUpdate","Student", new { id = Model.StudentDTO.Id})')"><i class="fa fa-pen"></i></a>*@
                            <a class="btn btn-outline-warning btn-sm float-right" asp-action="StudentUpdate" asp-controller="Student" asp-route-id="@Model.Id"><i class="fa fa-pen"></i></a>

                            @*if (Model.Section == null)
                                {
                                    <a class="btn btn-outline-info btn-sm" href="#" data-toggle="modal" data-target="mainModal" onclick="createModal('@Url.Action("AssignSection","Student", new {id = Model.Id })')">Şube Ata</a>
                                }*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">

        <form>
            <div class="row mb-3">
                <div class="col col-12 col-lg-4">
                    <h6 class="card-subtitle mb-2 text-muted"><b>Kimlik Bilgisi</b></h6>
                    <hr />

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>TC Kimlik No</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" placeholder="Kimlik Numarası" asp-for="IdentityNumber">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Adı</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" placeholder="Adı" asp-for="FirstName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Soyadı</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" placeholder="Soyadı" asp-for="LastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Cinsiyeti</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" asp-for="Gender">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Doğum Tarihi</b></label>
                        <div class="col-sm-8">
                            <input type="date" readonly class="form-control-plaintext" asp-for="DOB">
                        </div>
                    </div>

                    <br />

                    <h6 class="card-subtitle mb-2 text-muted"><b>İletişim Bilgisi</b></h6>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Telefon Numarası</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" placeholder="+90" asp-for="CellPhone">
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-lg-4">
                    <h6 class="card-subtitle mb-2 text-muted"><b>Eğitim Bilgisi</b></h6>
                    <hr />

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Mezun Olduğu Okul</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" placeholder="" asp-for="GraduatedFrom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Not Ortalaması</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" placeholder="Not Ortalaması" asp-for="GPA">
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-lg-4">
                    <h6 class="card-subtitle mb-2 text-muted"><b>Okul Bilgisi</b></h6>
                    <hr />

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Öğrenci Okul Numarası</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" placeholder="Okul numarası atanmamış." asp-for="SchoolNumber">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Şubesi</b></label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" placeholder="Şubesi atanmamış" asp-for="Section.SectionName">
                                </div>
                                <div class="col">
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        if (Model.SectionId == null)
                                        {
                                            <a class="btn btn-outline-info btn-sm" href="#" data-toggle="modal" data-target="mainModal" onclick="createModal('@Url.Action("AssignSection","Student", new { id = @Model.Id })')">Şube Ata <i class="fa fa-plus"></i></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-warning btn-sm" href="#" data-toggle="modal" data-target="mainModal" onclick="createModal('@Url.Action("AssignSection","Student", new { id = @Model.Id })')">Şube Değiştir <i class="fa fa-pen"></i></a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Section.Grade != null)
                    {
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-black-50"><b>Sınıfı</b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" placeholder="Sınıfı" asp-for="Section.Grade.GradeName">
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>Kayıt Tarihi</b></label>
                        <div class="col-sm-8">
                            <input type="date" readonly class="form-control-plaintext" placeholder="Kayıt Tarihi Girilmemiş" asp-for="RegistrationDate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-12 col-lg-4">
                    <h6 class="card-subtitle text-muted"><b>Eğitim Portalı - Öğrenci Kullanıcı Bilgisi</b></h6>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b> Kullanıcı Adı:</b></label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" asp-for="@Model.User.UserName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-black-50"><b>E-Posta Adresi: </b></label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col col-10">
                                    <input type="text" readonly class="form-control-plaintext" asp-for="@Model.User.Email">
                                </div>
                                <div class="col">
                                    <a class="btn btn-outline-info btn-sm" asp-controller="Message" asp-action="SendMessage" asp-route-receiver="@Model.User.UserName" asp-route-sender="@this.User.Identity.Name"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="row">
                <div class="col">
                    <h5 class="card-title font-weight-bold text-primary">Veli Bilgisi</h5>
                </div>
                <div class="col">
                    @if (this.User.IsInRole("Admin"))
                    {
                        @*<a class="btn btn-outline-warning btn-sm float-right" href="#" data-toggle="modal" data-target="mainModal" onclick="createModal('@Url.Action("ParentUpdate", "Parent", new { id = Model.ParentDTO.Id })')"><i class="fa fa-pen"></i></a>*@
                        <a class="btn btn-outline-warning btn-sm float-right" asp-action="ParentUpdate" asp-controller="Parent" asp-route-id="@Model.ParentId"><i class="fa fa-pen"></i></a>
                    }
                </div>
            </div>
        </div>

        <div class="card-body">
            <form>
                <div class="row mb-2">

                    <div class="col col-12 col-lg-4">
                        <h6 class="card-subtitle mb-2 text-muted"><b>Kimlik Bilgisi</b></h6>
                        <hr />
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-black-50"><b>TC Kimlik No</b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" asp-for="Parent.IdentityNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-black-50"><b>Adı</b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" asp-for="Parent.FirstName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-black-50"><b>Soyadı</b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" asp-for="Parent.LastName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-black-50"><b>Cinsiyeti</b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" asp-for="Parent.Gender">
                            </div>
                        </div>
                    </div>

                    <div class="col col-12 col-lg-8">
                        <h6 class="card-subtitle mb-2 text-muted"><b>İletişim Bilgisi</b></h6>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-black-50"><b>Cep Telefonu</b></label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly class="form-control-plaintext" asp-for="Parent.CellPhone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-black-50"><b>Ev Telefonu</b></label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly class="form-control-plaintext" asp-for="Parent.HomePhone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-black-50"><b>İş Telefonu</b></label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly class="form-control-plaintext" asp-for="Parent.WorkPhone">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-black-50"><b>Adres Bilgisi</b></label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly class="form-control-plaintext" asp-for="Parent.Address">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-12 col-lg-4">
                        <h6 class="card-subtitle mb-2 text-muted"><b>Eğitim Portalı - Veli Kullanıcı Bilgisi</b></h6>
                        <hr />
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-black-50"><b> Kullanıcı Adı:</b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" asp-for="@Model.Parent.User.UserName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-black-50"><b>E-Posta Adresi: </b></label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col col-10">
                                        <input type="text" readonly class="form-control-plaintext" asp-for="@Model.Parent.User.Email">
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-outline-info btn-sm" asp-controller="Message" asp-action="SendMessage" asp-route-receiver="@Model.Parent.User.UserName" asp-route-sender="@this.User.Identity.Name"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">

        </div>
    </div>
</div>

@section BeginPageJS{
    <script>
        function createModal(url) {
            $('#modelContent').load(url);
            $('#mainModal').modal('show');
        }
    </script>
}
