@model SubjectDetailViewModel
@{
    ViewData["Title"] = "ExamList";
}

@section BeginPage{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800"></h1>

@if (this.User.IsInRole("Admin") | this.User.IsInRole("Öğretmen"))
{
    <div class="card shadow">
        <div class="card-header">
            <h4>Sınav İşlemleri</h4>
        </div>
        <div class="card-body">
            <p></p>
        </div>
    </div>
}


<!-- DataTables Example -->
<div class="row">
    <div class="col col-12">

        <div class="card shadow mt-3">
            <div class="card-header py-3">
                <div class="row">
                    @if (this.User.IsInRole("Admin") | this.User.IsInRole("Öğretmen"))
                    {
                        @if (Model.SubjectDTO != null)
                        {
                            <div class="col">
                                <h5 class="m-0 font-weight-bold text-primary">@Model.SubjectDTO.SubjectName Dersi Sınav Listesi</h5>
                            </div>
                            <div class="col">
                                <a class="btn btn-success float-right" data-toggle="modal" data-target="mainModal" href="#" onclick="modalFunction('@Url.Action("ExamAdd", "Exam", new { subjectId = Model.SubjectDTO.Id })')">Sınav Ekle <i class="fa fa-plus-circle"></i></a>
                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <h5 class="m-0 font-weight-bold text-primary">Sınav Listesi</h5>
                            </div>
                            <div class="col">
                                <a class="btn btn-success float-right" data-toggle="modal" data-target="mainModal" href="#" onclick="modalFunction('@Url.Action("ExamAdd", "Exam", "SubjectDetailViewModel")')">Sınav Ekle <i class="fa fa-plus-circle"></i></a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col">
                            <h5 class="m-0 font-weight-bold text-primary">Sınav Listesi</h5>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover " id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sınav Adı</th>
                                <th>Ders</th>
                                <th>Sınav Tarihi</th>
                                <th>Başlangıç Saati</th>
                                <th>Bitiş Saati</th>
                                <th>Sınav Türü</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ExamDTO exam in Model.ExamDTOs)
                            {
                                <tr>
                                    <td>@exam.ExamName</td>
                                    <td>@Model.SubjectDTOs.FirstOrDefault(z => z.Id == exam.SubjectId).SubjectName</td>
                                    <td>@exam.ExamDate.ToString("dd/MM/yyyy")</td>
                                    <td>@exam.ExamStartTime</td>
                                    <td>@exam.ExamEndTime</td>
                                    <td>@Model.ExamTypeDTOs.FirstOrDefault(z => z.Id == exam.ExamTypeId).ExamTypeName</td>
                                    <td>
                                        @if (this.User.IsInRole("Admin") | this.User.IsInRole("Öğretmen"))
                                        {
                                            <a class="btn btn-outline-warning btn-sm" href="#" onclick="modalFunction('@Url.Action("ExamUpdate", "Exam", new { id = exam.Id })')"><i class="fa fa-pen"></i></a>
                                            @*<a class="btn btn-outline-warning btn-sm" asp-action="ExamUpdate" asp-route-id="@exam.Id"><i class="fa fa-pen"></i></a>*@
                                            <a class="btn btn-outline-danger btn-sm" asp-action="ExamDelete" asp-route-id="@exam.Id"><i class="fa fa-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

@section FooterJsPlugin{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}

@section BeginPageJs{
    <script>
        function modalFunction(url) {
            $('#modalContent').load(url);
            $('#mainModal').modal('show');
        }
    </script>
}
